*{
    Margin: 0;padding:0;
    box-sizing: border-box;
   }
body {
    background-image: url(../MP1Images/Background4.png);
    background-repeat: no-repeat ;
   background-size: contain;
    
}
.logo {
    height: 50px;
    margin-left: 30px;
}
footer {
    background-color: rgb(236, 238, 223);
    width: 100vw;
    
}
.navbar {
 
    background-color: rgb(236, 238, 223);
}
